
.button{
    -fx-background-color: #7b38d8;
    -fx-text-alignment: center;
    -fx-font-size: 15px;
    -fx-text-fill: White;
    -fx-border-color: Green;
    -fx-border-width: 4px;
}
.button:hover{
    -fx-background-color: green;
}

